<!DOCTYPE html>
<html>
<head>
    <title>Rellit</title>
</head>
    <body>
        <div class="container  mb-3 mt-1">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="/faq">About / FAQ's</a>
                      <a class="dropdown-item" href="#">Account Settings</a>
                      <a class="dropdown-item" href="#">Friends</a>
                    </div>
                </div> 
                <h1 class="text-center text-white mx-5 " style="font-size:2vw;" >Welcome to Rellit!</h1>
                <div class="google-auth">
                    <div id="g_id_onload"
                        data-client_id="859550291312-jmcarebfcc8hrqkq4c1p7t5qt5cj7l5f.apps.googleusercontent.com"
                        data-context="signin"
                        data-ux_mode="popup"
                        data-callback="handleCredentialResponse"
                        style="position: absolute; top: 100px; right: 30px;
                        width: 0; height: 0; z-index: 1001;">
                    </div>
                    <div class="g_id_signin"
                        data-type="standard"
                        data-shape="rectangular"
                        data-theme="outline"
                        data-text="sign_in_with"
                        data-size="large"
                        data-logo_alignment="left"
                        data-width=200>
                    </div>
                </div>
            </nav>
        </div>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-primary"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active m-2">
                    <a class="btn btn-secondary active" href="/">Ask a Question</a>
                </li>
                <li class="nav-item active m-2 ">
                    <a class="btn btn-secondary" href="/meet">Meet People</a>
                </li>
            </ul>
        </div>
    </body>
</html>