<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <meta name="google-signin-client_id" content="859550291312-jmcarebfcc8hrqkq4c1p7t5qt5cj7l5f.apps.googleusercontent.com">
    <title>FAQ's</title>
</head>
<body>
    <%- include('partials/header.ejs') %>

    <br>
    <section>
        <h1 class="text-center mb-4 pb-2 text-light fw-bold">FAQ</h1>
      
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4">
            <h3 class="mb-3 text-primary"><i class="far fa-paper-plane text-primary pe-2"></i> What is Rellit?</h3>
            <p>
                Rellit is a real-time chat website that connects you with people based on your location. Some of the key 
                functionalities include a feed of questions that are exclusively relevant to your 
                area and a sub-feed for replies, answers, and further discussions! There’s also a chat feature 
                where you can meet others locally. You can explore other regions using our map that displays clusters 
                of questions to see what what's going on! 
                on!
            </p>
          </div>
      
          <div class="col-md-6 col-lg-4 mb-4">
            <h3 class="mb-3 text-light"><i class="fas fa-pen-alt text-primary pe-2"></i> 
            What's the difference between Rellit and Reddit?</h3>
            <p>
                A feed of questions and chats based specifically on your location rather than a subreddit
                is the defining distinction. 
            </p>
          </div>
      
          <div class="col-md-6 col-lg-4 mb-4">
            <h3 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i> 
                Why is Rellit asking to use my location?
            </h3>
            <p>
                Your location is only used to determine which questions and chat messages to 
                display to make sure that the other users are also in the same area.
            </p>
          </div>
      
          <div class="col-md-6 col-lg-4 mb-4">
            <h3 class="mb-3 text-primary"><i class="fas fa-rocket text-primary pe-2"></i> 
                Why is the chat separate from the questions page?
            </h3>
            <p>
                We provide a separate chat feature so that users can find people to do things
                with. A lot of users are people who are looking for someone to split an Uber with
                for example!
            </p>
          </div>
      
          <div class="col-md-6 col-lg-4 mb-4">
            <h3 class="mb-3 text-light"><i class="fas fa-home text-primary pe-2"></i> 
                Will other users be able to see my location or any other personal information?
            </h3>
            <p><strong><u>No</u>.</strong> Rellit prides itself in complete anonymity, convenience, and assurance.
              reason.</p>
          </div>
      
          <div class="col-md-6 col-lg-4 mb-4">
            <h3 class="mb-3 text-primary"><i class="fas fa-book-open text-primary pe-2"></i> 
            Do I have to sign in with Google to use Rellit?</h3>
            <p>
                Yes, we do require users to sign in with their Google accounts to ensure that your information 
                stays anonymous.
            </p>
          </div>
        </div>
      </section>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>